{% extends "layout.html" %}
{% block body %}
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="/static/Tailwind/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/flipStyle.css">

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Bookshelf</h1>
                        <span class="subheading">All types of Programming books are here</span>
                        <br> <br>
                        <h2 class="subheading">Search Any Programming Books</h2>
                        <form id="bookSearch" name="bookSearch" action="/bookshelf" method="post">
                            <div class="searchBar">
                                <div class="searchBox">
                                        <input type="text" class="searchText" name="search" placeholder="Type to search any book..">
                                        <button class="searchBtn" type="submit">
                                            <i class="fas fa-search fa-3x" style="width: 40px; height: 40px;"></i>
                                        </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="text-gray-600 body-font">
        <h1 style="margin-left: 300px; font-size: 80px; font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;"> Programming Books</h1>

            <div class="container px-5 py-24 mx-auto">

                <div class="flex flex-wrap -m-4">
                    {% for book in books %}
                        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="../static/assets/bookImg/{{book.book_img}}" alt="ecommerce" class="object-cover object-center w-full h-full block">
                                    </div>
                                    <div class="flip-card-back">
                                        <!-- <h1>John Doe</h1> -->
                                        <a href="{{book.amazon_link}}" target="_blank"> <button class="linkButton"> Amazon </button> </a>
                                        <a href="{{book.flipkart_link}}" target="_blank"> <button class="linkButton"> Flipkart </button> </a>
                                        <a href="{{book.thriftbooks_link}}" target="_blank"> <button class="linkButton"> Thriftbooks </button> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{book.book_cat}}</h3>
                                <h2 class="text-gray-900 title-font text-lg font-medium">{{book.book_name}}</h2>
                                <p class="mt-1">₹ {{book.price}}</p>
                            </div>
                        </div>
                            
                    {% endfor %}
                </div>
            </div>

    </section>
{% endblock %}